body {
  font-family: Ubuntu;
}

.App {
  text-align: center;
}

.navbar {
  height: 90px; 
}

.navbar .tt-menu {
  color: black;
}

.mainCont {
  margin-top: 90px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.detBg {
  display: flex;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.detCard {
  margin: 0 auto;
  width: 60rem;
  overflow: auto;
  background: rgba(255, 255, 255, 0.75);
}

a,
a:hover,
a:focus {
  color: white;
}

.col {
  padding: 0px;
}

ul {
  font-size: 0.93rem;
  width: 100%;
}

.list-group-item {
  padding: 0.4rem 1rem;
}

.badge {
  background-color: #343a40;
}

/* Typeahead */
.typeahead {
  background-color: #fff;
  width: 250px;
}

pre {
  position: fixed !important;
}

.typeahead:focus {
  border: 2px solid #f75136;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: inherit;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f75136;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #f75136;
}